<% content_for :title do %>
  <%= "Artist Listing" %>
<% end %>

<section class="artist index">

  <p>Find me in app/views/artists/index.html.erb</p>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th># Albums</th>
      <th># Songs</th>
    </tr>

    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.id %>
        <td><%= artist.name %></td>
        <td><%= artist.albums.count %></td>
        <td><%= artist.songs.count %></td>
        <td class="actions">
        <%= link_to("Show", {:action => 'show' , :id => artist.id}, :class => "action show") %>
        <%= link_to("Edit", {:action => 'edit', :id => artist.id}, :class => "action edit") %>
        <%= link_to("Delete", {:action => 'delete', :id => artist.id}, :class => "action delete") %>
        </td>
      </tr>
    <% end %>
  </table>

</section>
