<% content_for :title do %>
  <%= @artist.name %>
<% end %>

<% content_for :subtitle do %>
  <small class="subheader">(<%= @artist.songs.count %> Songs)</small>
<% end %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link button') %>

<p>Find me in app/views/artists/show.html.erb</p>

<div class="subjects show">
  <table summary="Artist detail view">
    <tr>
      <th>Description</th>
      <td><%= @artist.description %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @artist.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @artist.updated_at %></td>
    </tr>
  </table>
</div>

<ul>
<% @artist.songs.each do |song| %>
  <li><%= song.id %> => <%= song.title %></li>
<% end %>
</ul>
