<!-- <pre>< % = @song.to_yaml %></pre> -->
<!-- <pre>< % =  @moods.to_yaml %></pre> -->


<%= form_for(@song, multipart: true) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h3><%= f.label :description %></h3>
    <%= f.bootsy_area :description %>
  </div>

  <div class="field">
    <h3><%= f.label :original_release_date %></h3>
    <%= f.date_select :original_release_date, {start_year:1960, end_year: Date.today.year, order: [:month, :day, :year]}, { :class => 'xform-control' } %>
  </div>

  <div class="field">
    <h3><%= f.label :length %></h3>
    <%= f.text_field :length %>
  </div>

  <div class="field">
    <h3><%= f.label :album %></h3>
    <br><%= f.select(:album_id, @albums.map {|a| [a.title, a.id]}) %>
  </div>

  <% #NOTE: Audio File %>
  <div class="field">
    <h3><%= f.label :audio %></h3>
    <div class="row">

      <% if @song.audio.blank? %>
        <div class="col-sm-12">
        <%= f.file_field :audio %>
        </div>
      <% else %>
        <div class="col-sm-6">
          <%= f.file_field :audio, value: @song.audio_file_name %>
          <p class="current-file muted"><em>The current file name is: <strong><%= @song.audio_file_name %></strong>.</em></p>
        </div>
        <div class="col-sm-6">
          <audio controls="controls">
            Your browser does not support the <code>audio</code> element.
            <source src="<%= @song.audio.url(:original) %>" type="<%= @song.audio.content_type %>" volume="0.5" >
          </audio>
        </div>
      <% end %>


    </div>
    <%= f.hidden_field :hidden_audio_file, value: @song.audio_file_name %>
  </div>

  <% #NOTE: Cover Art %>
  <div class="field">
    <h3><%= f.label :cover_art %></h3>
    <div class="row">

    <% if @song.cover_art.blank? %>
      <div class="col-sm-12">
        <%= f.file_field :cover_art %>
      </div>
    <% else %>
      <div class="col-sm-6">
        <%= f.file_field :cover_art, value: @song.cover_art_file_name %>
        <p class="current-file muted"><em>The current file name is: <strong><%= @song.cover_art_file_name %></strong>.</em></p>

      </div>
      <div class="col-sm-6">
        <%= image_tag @song.cover_art.url(:medium), class: "img-responsive center-block thumbnail" %>
      </div>
    <% end %>

    </div>
    <%= f.hidden_field 'hidden_cover_art', value: @song.cover_art_file_name, id: "hidden_cover_art" %>
  </div>

  <div class="field">
    <h3><label>Genres</label></h3>
    <section class="genres">

      <% # NOTE: Loop over each genre so we can filter on them.
      @genres.sorted.each do |genre|

        # NOTE: Check to see if we are filtering for genres so we can mark them as selected
        if @song.genre_ids.present?
          selected = @song.genre_ids.reject { |a| a != genre.id }
        else
          selected = nil
        end
        %>

      <div class="checkbox">
        <% if selected.blank? %>
          <%= check_box_tag 'genres[]', genre.id, false %>
        <% else %>
          <%= check_box_tag 'genres[]', genre.id, true %>
        <% end %>

        <label for="<%= genre.id %>"><%= genre.title.titleize %></label>
      </div>
      <% end %>

    </section>
  </div>

  <div class="field">
    <h3><label>Moods</label></h3>
    <section class="moods">

      <% # NOTE: Loop over each mood so we can filter on them.
      @moods.sorted.each do |mood|

        # NOTE: Check to see if we are filtering for moods so we can mark them as selected
        if @song.mood_ids.present?
          selected = @song.mood_ids.reject { |a| a != mood.id }
        else
          selected = nil
        end
        %>

      <div class="checkbox">
        <% if selected.blank? %>
          <%= check_box_tag 'moods[]', mood.id, false %>
        <% else %>
          <%= check_box_tag 'moods[]', mood.id, true %>
        <% end %>

        <label for="<%= mood.id %>"><%= mood.title.titleize %></label>
      </div>
      <% end %>

    </section>
  </div>

  <div class="field">
    <h3><label>Themes</label></h3>
    <section class="themes">

      <% # NOTE: Loop over each theme so we can filter on them.
      @themes.sorted.each do |theme|

        # NOTE: Check to see if we are filtering for themes so we can mark them as selected
        if @song.theme_ids.present?
          selected = @song.theme_ids.reject { |a| a != theme.id }
        else
          selected = nil
        end
        %>

      <div class="checkbox">
        <% if selected.blank? %>
          <%= check_box_tag 'themes[]', theme.id, false %>
        <% else %>
          <%= check_box_tag 'themes[]', theme.id, true %>
        <% end %>

        <label for="<%= theme.id %>"><%= theme.title.titleize %></label>
      </div>
      <% end %>

    </section>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
