<%
# TODO: Not have saving the form clear out currently assigned album art and audio.
%>

<%= form_for(@song, multipart: true) do |f| %>
  <%
    # Some local variables
    @albums = Album.all
  %>

  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :original_release_date %><br>
    <%= f.date_select :original_release_date, {start_year:1960, end_year: Date.today.year, order: [:month, :day, :year]}, { :class => 'xform-control' } %>
  </div>

  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>

  <div class="field">
    <%= f.label :album %>
    <br><%= f.select(:album_id, @albums.map {|a| [a.title, a.id]}) %>
  </div>

  <div class="field">

    <label>Moods</label>
    <section class="moods">

    <%= fields_for :moods do |moods_form| %>
      <%= :moods.to_yaml %>
    <% end %>

    <%
      @moodList.each do |mood|
        if @moods.map {|m| m.id}.include? mood.id
          selected = 'yes'
        else
          selected = ''
        end
    %>
      <div class="checkbox">
        <%= check_box_tag mood, selected %>
        <%= f.label(mood, mood.title) %>
      </div>
    <% end %>
    </section>
  </div>

  <% #NOTE: Audio File %>
  <div class="field">
    <h3><%= f.label :audio %></h3>
    <div class="row">

      <% if @song.audio.blank? %>
        <div class="col-sm-12">
        <%= f.file_field :audio %>
        </div>
      <% else %>
        <div class="col-sm-6">
          <%= f.file_field :audio, value: @song.audio_file_name %>
          <p class="current-file muted"><em>The current file name is: <strong><%= @song.audio_file_name %></strong>.</em></p>
        </div>
        <div class="col-sm-6">
          <audio controls="controls">
            Your browser does not support the <code>audio</code> element.
            <source src="<%= @song.audio.url(:original) %>" type="<%= @song.audio.content_type %>" volume="0.5" >
          </audio>
        </div>
      <% end %>


    </div>
    <%= f.hidden_field :hidden_audio_file, value: @song.audio_file_name %>
  </div>

  <% #NOTE: Cover Art %>
  <div class="field">
    <h4><%= f.label :cover_art %></h4>
    <div class="row">

    <% if @song.cover_art.blank? %>
      <div class="col-sm-12">
        <%= f.file_field :cover_art %>
      </div>
    <% else %>
      <div class="col-sm-6">
        <%= f.file_field :cover_art, value: @song.cover_art_file_name %>
        <p class="current-file muted"><em>The current file name is: <strong><%= @song.cover_art_file_name %></strong>.</em></p>

      </div>
      <div class="col-sm-6">
        <%= image_tag @song.cover_art.url(:medium), class: "img-responsive center-block thumbnail" %>
      </div>
    <% end %>

    </div>
    <%= f.hidden_field 'hidden_cover_art', value: @song.cover_art_file_name, id: "hidden_cover_art" %>
  </div>


  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
