<%= form_for(@song, multipart: true) do |f| %>
  <%
    # Some local variables
    @albums = Album.all
  %>

  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :original_release_date %><br>
    <%= f.date_select :original_release_date %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :album %>
    <br><%= f.select(:album_id, @albums.map {|a| [a.title, a.id]}) %>
  </div>
  <div class="field">
    <%= f.label :cover_art %><br>
    <%= f.file_field :cover_art %>
  </div>


  <div class="field">
    <%= f.label :audio %><br>
    <%= f.file_field :audio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
