
<!-- Render page title -->
<%=
  render 'application/page_title',
  title: 'Song Listing',
  leading_text: 'Aliquam nibh quam iaculis tempus dignissim quis faucibus etiam dignissim tempus nibh nec venenatis turpis bibendum vivamus laoreet odio eleifend iaculis',
  subtitle: ''
%>

<section class="song index wow fadeInUp">
  <table width="100%">
    <tr>
      <!-- <th>ID</th> -->
      <th>Name</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Release Date</th>
      <th>Controls</th>
    </tr>

    <% @songs.each do |song| %>
      <tr>
        <!-- <td><%= song.id %> -->
        <td><%= song.title %></td>
        <td><%= link_to(song.album.title, {:action => '/album/show', :id => song.album.id}) %></td>
        <td><%= link_to song.artist.name, :controller => 'artists', :action => 'show', :id => song.artist.id %></td>
        <td><%= song.original_release_date %></td>
        <td class="actions">
        <%= link_to("Show", {:action => 'show' , :id => song.id}, :class => "action show") %>
        <%= link_to("Edit", {:action => 'edit', :id => song.id}, :class => "action edit") %>
        <%= link_to("Delete", {:action => 'delete', :id => song.id}, :class => "action delete") %>
        </td>
      </tr>
    <% end %>
  </table>

</section>
