<!-- Render page title -->
<%=
  @page = Page.find('search')
  render 'application/page_title',
  title: @page.title,
  leading_text: @page.leading_text,
  subtitle: @page.subtitle
%>

<!-- Search Bar -->
<%= render(:partial => "application/search_form") %>

<%= @page.body %>

<!-- <section class="song index wow fadeInUp"> -->
<section class="song index">

  <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Album</th>
      <th>Artist</th>
<!--       <th></th>
      <th>Released</th> -->
      <!-- <th colspan="2">Actions</th> -->
    </tr>
    </thead>
    <tbody>

    <% @songs.each do |song| %>
      <%
        album = Album.find(song.album.id)
        artist = Artist.find(album.artist.id)
        # genres = song.genre_ids
        # aMoods = Mood.find(song.id)
        # aThemes = Theme.find(song.id)

        if song.original_release_date.present?
          release_date = song.original_release_date.to_formatted_s(:year)
        else
          release_date = ''
        end
      %>

      <tr>
        <td><%= link_to song.title, song %><br><small><%= release_date %></small></td>
        <td><%= link_to album.title, album %></td>
        <td><%= link_to artist.name, artist %></td>
<!--         <td> - <%= link_to album.title, album %></td>
        <td align="center"></td> -->
<!--         <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
  </table>

  <%= paginate @songs %>

</section>

<br>

<!-- <%= link_to 'New Song', new_song_path %> -->
