<% content_for :title do %>
  <%= "Song Listing" %>
<% end %>

<section class="song index">
  <header class="row">
    <section class="medium-12 column page-title">
      <h1>Songs#index</h1>
      <%= link_to("Add New Song", {:action => 'new'}, :class => "action new" ) %>
    </section>
  </header>

  <% if !flash[:notice].blank? %>
    <div class="row">
      <div div-alert class="medium-11 medium-centered columns text-centered alert-box success radius">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <main class="row">
    <section class="medium-12 columns">
      <p>Find me in app/views/songs/index.html.erb</p>

      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th># Albums</th>
          <th># Songs</th>
        </tr>

        <% @songs.each do |song| %>
        <tr>
          <td><%= song.id %>
          <td><%= song.title %></td>
          <td><%= song.original_release_date %></td>
          <td><%= song.description %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show' , :id => song.id}, :class => "action show") %>
            <%= link_to("Edit", {:action => 'edit', :id => song.id}, :class => "action edit") %>
            <%= link_to("Delete", {:action => 'delete', :id => song.id}, :class => "action delete") %>
          </td>
        </tr>
        <% end %>
  </section>
  </main>

</section>
