
<!-- Render page title -->
<%=
  render 'application/page_title',
  title: 'Song Listing',
  leading_text: 'Aliquam nibh quam iaculis tempus dignissim quis faucibus etiam dignissim tempus nibh nec venenatis turpis bibendum vivamus laoreet odio eleifend iaculis',
  subtitle: ''
%>

<section class="song index wow fadeInUp">
  <table width="100%">
    <tr>
      <!-- <th>ID</th> -->
      <th>Name</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Released</th>
    </tr>

    <% @songs.each do |song| %>
      <tr>
        <!-- <td><%= song.id %> -->
        <td><%= link_to song.title, controller: 'songs', action: 'show', id: song.id %></td>
        <td><%= link_to song.album.title, controller: 'albums', action: 'show', id: song.album.id %></td>
        <td><%= link_to song.artist.name, controller: 'artists', action: 'show', id: song.artist.id %></td>
        <td align="center"><%= song.original_release_date.to_formatted_s(:year) %></td>
      </tr>
    <% end %>
  </table>

</section>
