<!-- <pre>< % = @song.to_yaml %></pre> -->

<%
  if @song.original_release_date.present?
    release_date = @song.original_release_date.to_formatted_s(:year)
  else
    release_date = ''
  end
%>

<article class="song show">

  <header class="page-header">
    <h1>
    <%= @song.title %>
    <small><em><%= release_date %></em></small>
    </h1>

    <% if current_user.admin %>
      <%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-primary' %>
    <% end %>
  </header>

  <div class="row">
    <div class="col-md-4">
      <!-- <img src="http://placehold.it/250x250"> -->

      <%=
      if @song.cover_art_file_name.present?
        image_tag @song.cover_art.url(:medium), class: "img-responsive center-block thumbnail"
      else
        image_tag "//placehold.it/250x250/ebf8ff/666666?text=No+Preview", class: "img-responsive center-block thumbnail"
      end
      %>
    </div>

    <div class="col-md-8">

      <h3>Information</h3>
      <p><strong>Artist:</strong> <%= link_to @artist.name, @artist  %></p>
      <p><strong>Album:</strong> <%= link_to @album.title, @album  %></p>
      <p><strong>Duration:</strong> <%= @song.length %></p>

      <p><strong>Genres:</strong>

      <%
      #NOTE: Check to see if there are genres
      if @genres.present?
      genre_last = @genres.last
      %>
        <% @genres.each do |genre| %>
          <%= genre.title %>

          <%
          # NOTE: Add a comma if it's not the last genre.
          if genre != genre_last
          %>

          ,&nbsp;
          <% end %>
        <% end %>
      <% else %>
        -
      <% end %>

      </p>

      <p><strong>Moods:</strong>

      <%
      #NOTE: Check to see if there are moods
      if @moods.present?
      mood_last = @moods.last
      %>
        <% @moods.each do |mood| %>
          <%= mood.title %>

          <%
          # NOTE: Add a comma if it's not the last mood.
          if mood != mood_last
          %>

          ,&nbsp;
          <% end %>
        <% end %>
      <% else %>
        -
      <% end %>

      </p>

      <p><strong>Themes:</strong>

      <%
      #NOTE: Check to see if there are themes
      if @themes.present?
      theme_last = @themes.last
      %>
        <% @themes.each do |theme| %>
          <%= theme.title %>

          <%
          # NOTE: Add a comma if it's not the last theme.
          if theme != theme_last
          %>

          ,&nbsp;
          <% end %>
        <% end %>
      <% else %>
        -
      <% end %>

      </p>

      <% if @song.audio_file_name %>
      <audio controls="controls">
        Your browser does not support the <code>audio</code> element.
        <source src="<%= @song.audio.url(:original) %>" type="<%= @song.audio.content_type %>" volume="0.5" >
      </audio>
      <% end %>
    </div>
  </div>


  <% if @song.description  %>
  <div class="description">
    <h3>Description</h3>
    <p><%= @song.description.html_safe %></p>
  </div>
  <% end %>

</article>
