<article class="song show">

  <header class="page-header">
    <h1>
    <%= @song.title %>
    <small><em><%= @song.original_release_date.to_formatted_s(:year) %></em></small>
    </h1>
  </header>
  <!--
  <pre><%= simple_format @song.to_yaml %></pre>

  <h1>Album</h1>
  <pre><%= @album.inspect %></pre>

  <h1>Artist</h1>
  <pre><%= @artist.inspect %></pre>

  <h1>Genres</h1>
  <pre><%= @genres.inspect %></pre>

  <h1>Moods</h1>
  <pre><%= @moods.inspect %></pre>

  <h1>Themes</h1>
  <pre><%= @themes.inspect %></pre>
 -->


  <div class="row">
    <div class="col-md-4">
      <!-- <img src="http://placehold.it/250x250"> -->

      <%=
      if @song.cover_art_file_name.present?
        image_tag @song.cover_art.url(:medium), class: "img-responsive center-block thumbnail"
      else
        image_tag "//placehold.it/250x250/ebf8ff/666666?text=No+Preview", class: "img-responsive center-block thumbnail"
      end
      %>
    </div>

    <div class="col-md-8">

      <h3>Information</h3>
      <p><strong>Album:</strong> <%= @album.title %></p>
      <p><strong>Duration:</strong> <%= @song.length %></p>

      <% #TODO: Loop over genre list and display them %>
      <p><strong>Genres:</strong> <%= @genres.length %></p>


      <% if @song.audio_file_name %>
      <audio controls="controls">
        Your browser does not support the <code>audio</code> element.
        <source src="<%= @song.audio.url(:original) %>" type="<%= @song.audio.content_type %>" volume="0.5" >
      </audio>
      <% end %>
    </div>
  </div>


  <% if !@song.description = ''  %>
  <div class="description">
    <h3>Description</h3>
    <p><%= @song.description %></p>
  </div>
  <% end %>

  <%= link_to 'Edit', edit_song_path(@song) %> |
  <%= link_to 'Back', songs_path %>

</article>
