<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @contact.address.html_safe %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @contact.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contact.url %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back to Contacts', contacts_path %>
