<%
  # Some local variables
  @artists = Artist.all
%>

<%= form_for @album, html: {class: 'form-horizontal'} do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :original_release_date, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.date_select :original_release_date, {start_year:1960, end_year: Date.today.year, order: [:month, :day, :year]}, { :class => 'xform-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :artist, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.select :artist_id, @artists.map {|a| [a.name, a.id]}, {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.bootsy_area :description %>
    </div>
  </div>


  <% #NOTE: Cover Art %>
  <div class="form-group">
    <%= f.label :cover_art, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
    <div class="row">

    <% if @album.cover_art.blank? %>
      <div class="col-sm-12">
        <%= f.file_field :cover_art %>
      </div>
    <% else %>
      <div class="col-sm-6">
        <%= f.file_field :cover_art, value: @album.cover_art_file_name %>
        <p class="current-file muted"><em>The current file name is: <strong><%= @album.cover_art_file_name %></strong>.</em></p>

      </div>
      <div class="col-sm-6">
        <%= image_tag @album.cover_art.url(:medium), class: "img-responsive center-block thumbnail" %>
      </div>
    <% end %>

    </div>
    <%= f.hidden_field 'hidden_cover_art', value: @album.cover_art_file_name, id: "hidden_cover_art" %>
  </div>
  </div>


  <div class="actions form-group">
    <div class="col-md-9 col-md-offset-3">
    <%= f.submit class: 'btn btn-lg btn-info btn-block center-block' %>
    </div>
  </div>
<% end %>
