<article class="album show">

  <header class="page-header">
    <h1>
    <%= @album.title %>
    <br><small><em><%= @album.artist.name %></em></small>
    </h1>
  </header>

  <!-- <pre><%= simple_format @album.to_yaml %></pre> -->

  <div class="row">
    <div class="col-md-4">
      <!-- <img src="http://placehold.it/250x250"> -->

      <%=
      if @album.cover_art_file_name.present?
        image_tag @album.cover_art.url(:medium), class: "img-responsive center-block thumbnail"
      else
        image_tag "//placehold.it/250x250/ebf8ff/666666?text=No+Preview", class: "img-responsive center-block thumbnail"
      end
      %>
    </div>

    <div class="col-md-8">
      <h3>Information</h3>
      <% if @album.original_release_date.present? %>
      <p><strong>Released:</strong> <%= @album.original_release_date.to_formatted_s(:year) %></p>
      <% end %>

      <% if @album.description  %>
      <div class="description">
          <%= @album.description %>
      </div>
      <% end %>
    </div>
  </div>

    <h3>Song List</h3>
    <% if @songs.present? %>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Themes</th>
            <th>Moods</th>
            <th>Genres</th>
          </tr>
        </thead>
        <tbody>
        <% @songs.each do |song| %>
            <tr>
              <td><p><strong><%= link_to song.title, song %></strong></p></td>
              <td><%= song.original_release_date.to_formatted_s(:year) %></td>
              <td>
                <%
                #NOTE: Check to see if there are themes
                if @themes.present?
                  theme_last = @themes.last
                %>
                  <% @themes.each do |theme| %>
                    <%= theme.title %>

                    <%
                    # NOTE: Add a comma if it's not the last theme.
                    if theme != theme_last
                    %>

                     ,<br>
                    <% end %>

                  <% end %>

                <% else %>
                  <p>n/a</p>
                <% end %>
              </td>

              <td>
                <%
                #NOTE: Check to see if there are moods
                if @moods.present?
                  mood_last = @moods.last
                %>
                  <% @moods.each do |mood| %>
                    <%= mood.title %>

                    <%
                    # NOTE: Add a comma if it's not the last mood.
                    if mood != mood_last
                    %>

                      ,<br>
                    <% end %>

                  <% end %>

                <% else %>
                  <p>n/a</p>

                <% end %>
              </td>

              <td>
                <%
                #NOTE: Check to see if there are genres
                if @genres.present?
                  genre_last = @genres.last
                %>
                  <% @genres.each do |genre| %>
                    <%= genre.title %>

                    <%
                    # NOTE: Add a comma if it's not the last genre.
                    if genre != genre_last
                    %>

                      ,<br>
                    <% end %>

                  <% end %>

                <% else %>
                  <p>n/a</p>

                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p><em>There are no songs associated with this album</em></p>
    <% end %>

  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', albums_path %>

</article>
