<article class="album show">

  <header class="page-header">
    <h1><%= @album.title %></h1>
    <h2>By <%= link_to @album.artist.name, @album.artist %></h2>
  </header>

  <!-- <pre><%= simple_format @album.to_yaml %></pre> -->

  <div class="row">
    <div class="col-md-4">
      <!-- <img src="http://placehold.it/250x250"> -->

      <%=
      if @album.cover_art_file_name.present?
        image_tag @album.cover_art.url(:medium), class: "img-responsive center-block thumbnail"
      else
        image_tag "//placehold.it/250x250/ebf8ff/666666?text=No+Preview", class: "img-responsive center-block thumbnail"
      end
      %>
    </div>

    <div class="col-md-8">
      <h3>Album Information</h3>
      <% if @album.original_release_date.present? %>
      <p><strong>Released:</strong> <%= @album.original_release_date.to_formatted_s(:year) %></p>
      <% end %>

      <% if @album.description  %>
      <div class="description">
          <%= @album.description %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 song-list">
      <header>
        <h3>Song List</h3>
      </header>

    <% if @songs.present? %>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Genres</th>
            <th>Moods</th>
            <th>Themes</th>
          </tr>
        </thead>
        <tbody>
        <% @songs.each do |song|
          tags = []

          #NOTE: Check to see if there are genres
          genres = song.genres
          if genres.present?
            genre_titles = []
            genre_last = genres.last
            genres.each do |genre|
              tags << genre.title.titleize
              genre_titles << genre.title
            end
          end

          #NOTE: Check to see if there are moods
          moods = song.moods
          if moods.present?
            mood_titles = []
            mood_last = moods.last
            moods.each do |mood|
              tags << mood.title.titleize
              mood_titles << mood.title
            end
          end

          #NOTE: Check to see if there are themes
          themes = song.themes
          if themes.present?
            theme_titles = []
            theme_last = themes.last
            themes.each do |theme|
              tags << theme.title.titleize
              theme_titles << theme.title
            end
          end

            if song.original_release_date.present?
              release_date = song.original_release_date.to_formatted_s(:year)
            else
              release_date = ''
            end
          %>

            <tr>
              <td><p><strong><%= link_to song.title, song %></strong><br><small><%= release_date %></small></p></td>
              <td><%= genre_titles.sort.to_sentence %></td>
              <td><%= mood_titles.sort.to_sentence %></td>
              <td><%= theme_titles.sort.to_sentence %></td>
            </tr>
              <p></p>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p><em>There are no songs associated with this album</em></p>
    <% end %>

      </div></div>
  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', albums_path %>

</article>
