<aside class="moods boxed-content">
  <h3 class="wow">Moods</h3>
  <p class="wow">Select one or more moods to filter on.</p>
  <%= form_tag({controller: "songs", action: "filter"}, :method => "get", id: "filter-moods") do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">

        <!-- % = params[:moods].to_yaml % -->

          <% # NOTE: Loop over each mood so we can filter on them.
          Mood.sorted.each do |mood|

            # NOTE: Check to see if we are filtering for moods so we can mark them as selected
            if params[:moods].present?
              t = params[:moods].reject { |a| a != mood.id.to_s }
            else
              t = nil
            end
            %>

          <div class="checkbox">
            <% if t.blank? %>
              <%= check_box_tag 'moods[]', mood.id, false %>
            <% else %>
              <%= check_box_tag 'moods[]', mood.id, true %>
            <% end %>
            <%= label_tag(mood.id, mood.title) %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    <%= submit_tag("Filter") %>
  <% end %>
</aside>
