<ul class="menu">
    <!-- <li class="menu-item"><%= link_to "About Us", :controller => :application, :action => :about %></li> -->
    <li class="menu-item"><%= link_to "Songs", :controller => :songs, :action => :index %></li>
    <li class="menu-item"><%= link_to "Albums", :controller => :albums, :action => :index %></li>
    <li class="menu-item"><%= link_to "Artists", :controller => :artists, :action => :index %></li>

    <!-- <li class="menu-item"><a href="news.html">News</a></li> -->
    <!-- <li class="menu-item"><a href="services.html">Services</a></li> -->
    <li class="menu-item"><%= link_to "Contact", :controller => :application, :action => :contact %></li>
  </ul>
