
<div class="top-header">
  <div class="container">
    <!-- <a href="tel:80049123441">Call Us: (800) 1234567</a> -->
    <h2 class="pull-left" style="margin:0;">Hello <%= current_user.name ? current_user.name.titleize : 'Some User' %>!</h2>

    <!-- .member-navigation -->
    <nav class="member-navigation pull-right">
      <!-- <a href="#"><i class="fa fa-user"></i> Register</a> -->
      <!-- <a href="#"><i class="fa fa-lock"></i> Login</a> -->
      <%  if current_user.admin %>
        <%= link_to " Back Office", rails_admin.dashboard_path, class: 'fa fa-server' %>

        <% if @page.present?
          if @page.id.present?
        %>

          <%= link_to ' Edit Content', edit_page_path(@page), class: 'fa fa-edit' %>
        <% end
        end %>

        <% if @song %>
          <%= link_to ' Edit Song', edit_song_path(@song), class: 'fa fa-edit' %>
        <%end %>

        <% end %>
      <%= link_to " Logout", destroy_user_session_path, method: :delete, class: 'fa fa-sign-out' %>
    </nav>
  </div> <!-- .container -->
</div> <!-- .top-header -->
