<%
  # @page = Page.find('welcome')
%>
        <div class="fullwidth-block feature-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="feature">
                  <h1><%= Page.find('welcome').title %>

                  <% if Page.find('welcome').subtitle %>
                    <small class="subheader"><%= Page.find('welcome').leading_text %></small>
                  <% end %>
                  <%  if current_user
                      if current_user.admin %>
                    <button type="button" class="btn btn-info btn-sm btn-edit"><%= link_to ' Edit Content', edit_page_path( Page.find('welcome')), class: 'fa fa-edit' %></button>
                  <% end
                  end %>
                  </h1>

                  <% if Page.find('welcome').leading_text %>
                    <p class="leading muted"><%= Page.find('welcome').leading_text %></p>
                  <% end %>

                  <%= Page.find('welcome').body.html_safe %>
                </div> <!-- .feature -->
              </div> <!-- .col-md-12 -->
            </div> <!-- .row -->
          </div> <!-- .container -->
        </div> <!-- .feature-section -->

        <div class="fullwidth-block about-section">

          <div class="container">

            <div class="row">

              <div class="col-md-6">
                <h2><%= Page.find('welcome-search').title %>
                <%  if current_user
                      if current_user.admin %>
                  <button type="button" class="btn btn-info btn-sm btn-edit"><%= link_to ' Edit Content', edit_page_path( Page.find('welcome-search')), class: 'fa fa-edit' %></button>
                <% end
                end %></h2>
                <%= Page.find('welcome-search').body.html_safe %>

                <div style="padding: 13px 0">
                  <%= render(:partial => "application/search_form") %>
                  </div>

              </div>

              <div class="col-md-6">
                <h2><%= Page.find('need-help').title %>
                <%  if current_user
                      if current_user.admin %>
                  <button type="button" class="btn btn-info btn-sm btn-edit"><%= link_to ' Edit Content', edit_page_path( Page.find('need-help')), class: 'fa fa-edit' %></button>
                <% end
                end %></h2>
                <%= Page.find('need-help').body.html_safe %>
                <%= link_to 'Music Request', {:controller => :application, :action => :solicit}, :class => 'btn btn-primary btn-lg btn-block' %>
              </div>

            </div> <!-- .row -->

          </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
