<%
  @message = Message.new
  @form_class = 'solicit'
  @form_id = 'form-solicit'
  @page = Page.find('solicit')
%>
<div class="fullwidth-block">
  <h1><%= @page.title %>

    <% if @page.subtitle %>
      <small class="subheader"><%= @page.subtitle %></small>
    <% end %>
  </h1>

  <% if @page.leading_text %>
    <p class="leading muted"><%= @page.leading_text %></p>
  <% end %>

  <% if @page.body %>
    <%= @page.body.html_safe %>
  <% end %>

</div>

<div class="fullwidth-block">
  <%= render 'messages/form_project_request' %>
</div>
