<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " :: Somerset Songs Publishing" : "Somerset Songs Publishing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="global-header">
      <div class="row">
        <div class="medium-3 columns">
          <img src="http://placehold.it/350x200&text=Logo+350x200" alt="Logo">
        </div>
        <div class="medium-9 columns">
          <h1>Somerset Songs Publishing Media Library</h1>
        </div>
      </div>

      <div class="sticky contain-to-grid">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1 class="subheader"><a href="#">Somerset Songs</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><a href="#">Right Nav Button Active</a></li>
              <li class="has-dropdown">
                <a href="#">Right Button with Dropdown</a>
                <ul class="dropdown">
                  <li><a href="#">First link in dropdown</a></li>
                </ul>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="#">Left Nav Button</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <%= render(:partial => "application/page_title") %>
        </div>
      </div>

      <!-- Render any notices -->
      <%= render(:partial => "application/flash_notice") %>


      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <%= render(:partial => "application/search_form") %>
        </div>
      </div>


      <div class="row">
        <section class="medium-8 columns">

          <!-- Provide space for other templates -->
          <%= yield %>

        </section>

        <section class="medium-4 columns">
              <!-- Optional Classes: [callout radius] -->
          <div class="panel">
            <h5>This is a callout panel.</h5>
            <p>It's a little ostentatious, but useful for important content.</p>
          </div>
        </section>
      </div>



    </main>

    <footer id="global-footer">
      <div class="row">
        <div class="small-4 medium-4 large-4 columns">
          <p>Footer Column 1</p>
        </div>
        <div class="small-4 medium-4 large-4 columns">
          <p>Footer Column 2</p>
        </div>
        <div class="small-4 medium-4 large-4 columns">
          <p>Footer Column 3</p>
        </div>
      </div>
    </footer>


    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
